<div class="footer">
  <div class="centralizar">
    <p class="titulo">Fast Report GPT - Versão 1.0</p>
  </div>
  <div class="centralizar">
    <ul>
      <li>
        <p class="autor">
          Autor: Joshua Maia Rodrigues
          <a href="https://www.linkedin.com/in/joshua-maia-rodrigues-662634110/"
            ><fa-icon [icon]="['fab', 'linkedin']"></fa-icon
          ></a>
          -
          <a href="https://github.com/joshuamaia"
            ><fa-icon [icon]="['fab', 'github']"></fa-icon
          ></a>
        </p>
      </li>
      <li>
        <p class="autor">
          Autor: Breno Vieira
          <a href="https://www.linkedin.com/in/breno-vieira-a2883b19a/"
            ><fa-icon [icon]="['fab', 'linkedin']"></fa-icon
          ></a>
          -
          <a href="https://github.com/joshuamaia"
            ><fa-icon [icon]="['fab', 'github']"></fa-icon
          ></a>
        </p>
      </li>
    </ul>
  </div>
</div>
